/*---------------- navbar ------------------*/

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.nav .logo img {
    width: 120px;
}

.nav ul {
    list-style-type: none;
    padding: 0;       
    margin: 0;
}

.nav li {
    display: inline-block;
    padding: 0.5rem;
}

.nav a {
    text-decoration: none;
    color: #0A1222;
}

.nav a:hover {
    color: #034BFF;
    text-decoration: underline;
    text-underline-offset: 6px
}

.search img{
    width: 18px;
    padding: 0;
    margin-top: 5px;
}

.nav button {
    background-color: #034BFF;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 700;
    width: 130px;
    height: 37px;
}

/*---------------- hero ------------------*/

.hero {
    background-color: #08111D;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .content {
    margin-left: 50px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.hero .image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    font-weight: 900;
    font-size: 76px;
    margin-bottom: 0;
}

h1 .campus {
    margin-right: 25px;
}

h1 .life {
    color: #034BFF;
    font-size: 88px;
}

h1 .equalish {
    color: #C7F64A;
    font-size: 66px;
    margin-left: 30px;
} 

.hero h2 {
    margin: 0;
    font-weight: 800;
    font-size: 26px;
}

.hero .p-1 {
    font-weight: 400;
    font-size: 14px;
}

.hero button {
    font-size: 12px;
    font-weight: 700;
    width: 184px;
    height: 42px;
    border-radius: 5px;
    color: #FFFFFF;
    list-style-type: none;
    margin-top: 20px;
}

.hero .button-1 {
    margin-right: 10px;
    background-color: #034BFF;
}

.hero .button-2 {
    color: #FFFFFF;
    background-color: #08111D;
    border-color: #8EABFF;
}

.circle {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 27px);
    grid-template-rows: 27px;
}

.circle span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    color: #0A1222;
    position: relative;
}

.circle .A {
    background-color: #B8C9CF;
} 

.circle .S {
    background-color: #D7C3B6;
}

.circle .Y {
    background-color: #B8C9CF;
}

.circle .M {
    background-color: #D7C3B6;
}

.hero .comunity {
    font-size: 11px;
    font-weight: 400;
    position: relative;
    bottom: 37px;
    left: 118px;
}

/*---------------- key numbers ------------------*/

.numbers {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
    align-items: center;
    margin: 25px 0;
    gap: 60px;
}

.numbers .seperator {
    width: 1px;
    height: 24px;
    background-color: #47526A;
}

.numbers .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers .symbol {
    color: #034BFF;
    font-size: 30px;
    font-weight: 700;
    width: 42px;
    height: 36px;
}

.numbers .item div {
    display: flex;
    flex-direction: column;
}

.numbers .item .digit {
    font-size: 26px;
    font-weight: 800;
}

.numbers .item .ofWhat {
    font-size: 11px;
    font-weight: 400;
}

/*------------- show --------------*/

.show {
    background-color: #F4F7FC;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.show .chaos {
    padding-right: 50px;
    display: flex;
}

.show .first {
    font-size: 10px;
    font-weight: 400px;
    color: #034BFF;
}

.show .second {
    color: #0A1222;
    font-size: 33px;
    font-weight: 800;
}

.show .third {
    color: #0A1222;
    font-size: 14px;
    font-weight: 400;
}

.show button {
    background-color: #034BFF;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 700;
    width: 184px;
    height: 42px;
}

.show .chaos .square {
    background-color: #034BFF;
    border-radius: 5px;
}

.show .chaos .first {
    width: 55px;
    height: 70px;
    position: relative;
    top: 100px;
    left: 20px;
    transform: rotateZ(-12deg);
    
}

.show .chaos .second {
    width: 72px;
    height: 69px;
    position: relative;
    right: 300px;
    bottom: 12px;
    transform: rotateZ(40deg);
}

.chaos {
    padding-top: 30px;
}

.chaos img {
    border-radius: 12px;
}

.chaos .image1 {
    transform: rotateZ(-12deg); 
}

.chaos .image2 {
    transform: rotateZ(10deg);
    position: relative;
    top: 40px;
    right: 20px;
    z-index: 1;
}

.chaos .image3 {
    transform: rotateZ(15deg);
    position: relative;
    top: 10px;
    right: 60px;
}

.chaos p {
    background-color: #08111D;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    align-content: center;
    padding-left: 15px;
}

.chaos .image1 p {
    width: 132px;
    height: 29px;
    position: relative;
    bottom: 15px;
    left: 10px;
} 

.chaos .image2 p {
    width: 144px;
    height: 29px;
    position: relative;
    bottom: 15px;
    left: 15px;
} 

.chaos .image3 p {
    width: 156px;
    height: 29px;
    position: relative;
    bottom: 15px;
    left: 7px;
} 


